In [21]:
# List 

# Create a list

subject = ["ComSci","Maths","Physics","Chemistry"]
print(subject)

print("The length of the list",len(subject))
# Getting elements from List 
print(subject[0:2])
print(subject[-1])

print(type(subject[0:2]))

# Add elemets to a list. To append, insert(at a specific index, extends to add a list to another list).

## Append elemets to a list 

subject.append("Arts")
print(subject) # the element is added to the end of the list.

# Insert. Add at a specific index 
subject.insert(1,"History") # insert at the index point of 1 
print(subject) 

# Extends.Add a list to another list.
elective = ["Biology","English"]

subject1 = ["ComSci","Maths","Physics","Chemistry"]
subject1.append(elective)
print("The element is added as a list ",subject1) # Added as a list to the existing list.

subject.extend(elective)
print("List added properly",subject)

['ComSci', 'Maths', 'Physics', 'Chemistry']
The length of the list 4
['ComSci', 'Maths']
Chemistry
<class 'list'>
['ComSci', 'Maths', 'Physics', 'Chemistry', 'Arts']
['ComSci', 'History', 'Maths', 'Physics', 'Chemistry', 'Arts']
The element is added as a list  ['ComSci', 'Maths', 'Physics', 'Chemistry', ['Biology', 'English']]
List added properly ['ComSci', 'History', 'Maths', 'Physics', 'Chemistry', 'Arts', 'Biology', 'English']

In [24]:
# Remove elements from the list.

subject.remove("Arts")
subject

['ComSci', 'History', 'Maths', 'Physics', 'Chemistry', 'Biology', 'English']

In [25]:
subject.pop() # the last element is displayed.

'English'

In [32]:
# Reverse a list 
subject.reverse()
subject

['Physics', 'Maths', 'History', 'ComSci', 'Chemistry', 'Biology']

In [34]:
# Sorting a list
subject.sort()
print(subject)

['Biology', 'Chemistry', 'ComSci', 'History', 'Maths', 'Physics']

In [41]:
#Sorted

sorted_sub = sorted(subject)
sorted_sub

['Biology', 'Chemistry', 'ComSci', 'History', 'Maths', 'Physics']

In [38]:
# Using function such as sum and mix
num = [2,4,6,8,5]
print("The sum will be ",sum(num))

print("The min number ",min(num))

The sum will be  25
The min number  2

In [42]:
# Index of the list 

subject.index("Biology")

0

In [44]:
# in operator in list 

print("Arts" in subject)
print("Maths" in subject)

False
True

In [46]:
for item in subject:
    print(item)

Biology
Chemistry
ComSci
History
Maths
Physics

In [47]:
for index,value in enumerate(subject):
    print("The index ",index)
    print("The value ",value)

The index  0
The value  Biology
The index  1
The value  Chemistry
The index  2
The value  ComSci
The index  3
The value  History
The index  4
The value  Maths
The index  5
The value  Physics

In [57]:
# Print the list as a string 

sub_text = " , ".join(subject)

print(sub_text)

new_lst = sub_text.split(" , ")
print(new_lst)

Biology , Chemistry , ComSci , History , Maths , Physics
['Biology', 'Chemistry', 'ComSci', 'History', 'Maths', 'Physics']

In [67]:
#Sets

set_sub = {'Biology', 'Chemistry', 'ComSci', 'History', 'Maths', 'Physics'}
print("Sets displayed as ",set_sub)


set_sub1 = {'Chemistry','Maths','Arts','History'}
print("Set1  displayed as ",set_sub1)

print('Intersection result',set_sub.intersection(set_sub1))

print('Substraction result',set_sub.difference(set_sub1))

print('Union result',set_sub.union(set_sub1))

# Duplicate values removal 

lst = ["Hello","World","Comment","Hello"]

uniq = set(lst)

print(uniq)

Sets displayed as  {'Maths', 'Biology', 'Physics', 'ComSci', 'History', 'Chemistry'}
Set1  displayed as  {'History', 'Maths', 'Arts', 'Chemistry'}
Intersection result {'Maths', 'History', 'Chemistry'}
Substraction result {'ComSci', 'Physics', 'Biology'}
Union result {'Arts', 'Maths', 'Biology', 'Physics', 'ComSci', 'History', 'Chemistry'}
{'World', 'Hello', 'Comment'}

In [60]:
# Tuple. This is a mutable data structure. 

sub = ('Biology', 'Chemistry', 'ComSci', 'History', 'Maths', 'Physics')

print("tuple",sub)

sub[0] ="Arts"

tuple ('Biology', 'Chemistry', 'ComSci', 'History', 'Maths', 'Physics')

TypeError: 'tuple' object does not support item assignment

In [58]:
# Define blank List, Set and Tuple 

lst = []
lst1 = list()

#set1 = {}  this way set is not defined defined as Dictionary is defined in this way 
set1 = set()

tup = ()
tup1 = tuple()